<div style="width: 50%; padding: 4rem">
  <div class="plan plan--popular">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <span class="plan__description">Easy start on the could.</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item l">Unlimited Websites</li>
          <li class="list__item l">Unlimited Bandwidth</li>
          <li class="list__item l">100 GB SSD Storage</li>
          <li class="list__item l">3 GB RAM</li>
        </ul>
        <button class="button button--outline button--block">Buy Now</button>
      </div>
    </div>
  </div>
</div>

<!-- Card部分-->
<div style="width: 50%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, saepe.
    </div>
  </div>
</div>
