body{
    background: url(/HTML&CSSPart2/2_3Images_60m/images/images/bg-sanfrancisco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300vh;
}




